*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body{
  background-color: white;
  width: 100%;
}


.main_box{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.header{
  height: 100px;
  width: 100%;
  background-color: white;
  position: relative;
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
}


.header .main_elements{
  position: absolute;
  display: flex;
  right: 20px;
  top: 50px;
  position: sticky;
  float: right;
}

.header .main_elements li{
  display: inline-block;
  margin-right: 14px;
  margin-left: 14px;
  
}

.header .main_elements img{
width: 34px;
height: 34px;
cursor: pointer;
vertical-align: middle;
}


.header .main_elements img:hover{
  width: 34px;
  height: 34px;
  cursor: pointer;
  scale: 1.1;
  }

.main_area_box{
  margin-top: 200px;
  width: 100%;
}

.main_area_box .myname{
  color: green;
  font-weight: bold;
}

.main_area_box .description{
  font-family: sans-serif, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding-left: 300px;
  overflow: hidden;

}

.main_area_box .buttons{
  display: block;
  height: 200px;
  width: 100%;
  align-items: center;
  
}

.dynamic_button{
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.project_buttons li a .dynamic_button:hover{
  cursor: pointer;
  background-position: left bottom;
  color: white;
 }
 

.buttons .project_buttons{
  width: 100%;
  display: flex;
  padding-top: 30px;
  text-align: center;
  align-items: center;
  margin-left: 300px;
}

.buttons .project_buttons li{
  display: inline-block;
  padding-right: 0px;
  font-size: 26px;
  text-align: center;
  align-items: center;
}

.buttons .project_buttons li button{
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
  background-color: white;
  color: green;
  border: 1px solid green;
  font-weight: bold;
}

.buttons .project_buttons li button{
  cursor: pointer;
}


.my_skills{
  margin-top: 250px;
  padding-top: 150px;
  height: 1000px;
  width: 100%;
  background-color:rgb(44, 141, 141);
}


.my_skills2{
  margin-top: -150px;
  height: 200px;
  width: 100%;
  background-color:rgb(44, 141, 141);
  transform:skewY(-5deg)
}

.few_gears img{
  width: 250px;
  height: 250px;
}

.contact{
  height: 1000px;
  width: 100%;
  background-color:#fff;
  transform:skewY(-5deg)
}

.about{
  height: 800px;
  width: 100%;
  background-color:rgb(44, 141, 141);
  transform:skewY(-5deg);
}

.my_skills{
  display: grid;
  grid-template-columns: 1fr;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  align-items: center;
  height: 1500px;
}

.main_skills_box{
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: -1100px;
  height: 200px;
  vertical-align: middle;
  display: flex;
}

.skills_title{
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  width: 100%;
  padding: -300px;
  padding-top: 50px;
  display: block;
}

.main_skills_box .skills_title h1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
  letter-spacing: 2px;
}

.skills_elements{
  display: block;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  font-weight: 200;
  width: 100%;
  font-size: 16px;
  padding-top: 10px;
  
}

.skills_elements2{
  display: block;
  align-items: center;
  font-size: 20px;
  color: #ffffff;
  font-weight: 200;
  width: 100%;
  padding-top: 5px;
  font-family: 'Times New Roman', Times, serif;
}

.skills_buttons{
  display: block;
  align-items: center;
  text-align: center;
  justify-content:center;
  column-gap: 20px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  justify-content:space-around;
}

.skills_buttons ul{
  display: flex;
  align-items: center;
  
  
}

.skills_buttons ul li {
  display: inline-block;
  margin-right:250px;
  margin-right:250px;
  align-items: center;
}

.skills_buttons ul li button{
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fff;
  color: green;
  font-weight: 600;
  border-radius: 15px;
  border: 2px solid green;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.skills_buttons ul li button:hover{
 cursor: pointer;
 background-position: left bottom;
 color: white;
}

.first_grid{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  overflow: hidden;
}

.my_skills_listed{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  width: 100%;
  min-height: 600px;
  column-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -500px;
}

.my_skills_listed .design_skills{
  height: 350px;
  flex-direction: column;
  display: none;
  margin-left: 0px;
}


.my_skills_listed .dev_skills{
  display: flex;
  flex-direction: column;
  display: none;
  margin-left: 0px;
  
}

.my_skills_listed .my_hobbies{
  display: flex;
  flex-direction: column;
  display: none;
  margin-left: 0px;
}

.small_logo{
  display: flex;
  padding-left: 50px;
  margin-top: 10px;
}

.small_logo img{
  width: 40px;
  height: 40px;
  object-position: center;
  border-radius: 10px;
} 

.small_logo .logo_image{
  display: inline-block;
  width: 100px;
  padding-top: 2px;
  padding-right: 35px;
}

.small_logo .description_skill{
  padding-left: 5px;
  padding-top: 10px;
  color: #fff;
}

.programming_pic{
margin-left: auto;
margin-right: auto;
margin-top: 100px;
width: 800px;
text-align: center;
}

.programming_pic img{
  opacity: 0.5;
  border-radius: 5px;
  width: 100%;
  border-radius: 50px;
  object-fit: contain;
}

.about_box{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 700px;
  transform:skewY(5deg);
  margin-top: 100px;
}

.about_box .main_about{
  align-items: center;
  text-align: center;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 2px;
}

.about_box .main_about h1{
  color: #fff;
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
}

.about_box .picture_and_description{
  height: 700px;
  display: flex;
}

.about_box .picture_and_description .profile_picture{
 width: 40%;
 display: inline-block;
 height: 100%;
}

.about_box .picture_and_description .profile_picture:hover{
  scale: 1;
}


.about_box .picture_and_description .description_about_me{
  height: 100%;
  width: 60%;
  display: inline-block;
}

.about_box .picture_and_description .profile_picture img{
  height: 500px;
  object-fit: cover;
  object-position: center;
  margin-left: 180px;
  margin-top: 40px;
  transform: rotate(7deg);
}

.summary_ab_me{
  width: 780px;
  height: 500px;
  margin-top: 50px;
}

.summary_ab_me p{
  font-size: 22px;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
}

.resume_about{
  padding: 5px;
  font-size: 22px;
  color: rgb(44, 141, 141);
  border: 1px solid white;
  background-color:rgb(44, 141, 141);
  border-radius: 3px;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.8s ease-out;
  margin-top: 20px;
}

.resume_about:hover{
  cursor: pointer;
  border: 1px solid rgb(44, 141, 141);
  background-color:white;
  border-radius: 3px;
  color: #fff;
  background-position: left bottom;
}

.main_box_contact{
  display: grid;
  width: 90%;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  transform:skewY(5deg);
  margin-top: 150px;
}

.contact_form{
  display: flex;
  width: 80%;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.main_text{
  display: inline-block;
  width: 50%;
  height: 600px;
  background: rgb(44, 141, 141);
  border-radius: 20px 0px 0px 20px
}

.contact_buttons{
  display: inline-block;
  width: 50%;
  height: 600px;
  border: 1px solid rgb(44, 141, 141);
  border-radius: 0 20px 20px 0;
}

.text_chat{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  align-items: center;
  text-align: center;
  color: white;
}

.text_chat h2{
  font-size: 32px;
  font-family: 'Times New Roman', Times, serif;
}

.text_chat h3{
  margin-top: 26px;
  font-size: 21px;
}

.contact_area{
  width: 100%;
  height: 100%;
  display: block;
  align-items: center;
}

.contact_title{
  height: 100px;
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 50px;
}

.buttons_area{
  display: flex;
  height: 400px;
  width: 100%;
  display: block;
  margin-left: 50px;
}

.submit_area{
  height: 100px;
  width: 350px;
  display: block;
  margin-left: 80px;
  margin-top: 30px;
}

.submit_area input[type=submit]{
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right,black 50%, rgb(44, 141, 141) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.8s ease-out;
  font-weight: 600;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 1px solid rgb(44, 141, 141);
  color: white;
}

.submit_area input[type=reset]{
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: linear-gradient(to right,black 50%, rgb(44, 141, 141) 50%);
  background-size: 300% 100%;
  background-position: right bottom;
  transition: all 0.8s ease-out;
  font-weight: 600;
  border-radius: 10px;
  letter-spacing: 2px;
  border: 1px solid rgb(44, 141, 141);
  color: white;
}


.submit_area input[type=submit]:hover{
  cursor: pointer;
  background-position: left bottom;
  color: #fff;
}

.submit_area input[type=reset]:hover{
  cursor: pointer;
  background-position: left bottom;
  color: #fff;
}


.buttons_area p{
  margin-bottom: 5px;
  margin-top: -40px;
  margin-left: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  opacity: 0.6;
}
.buttons_area input[type=text], input[type=tel], textarea{
  display: inline-block;
  width: 80%;
  padding: 12px;
  border: 1px solid rgb(44, 141, 141);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  max-height: 100px;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
}

input.holder:hover{
  border-bottom: 2px solid black;
}

textarea.holder:hover{
  border-bottom: 2px solid black;
}

.basement{
  margin-top: 150px;
  height: 300px;
  background-color: #000;
}

.basement_box{
  display: grid;
  grid-template-columns: 1fr;
  height: 100px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: white;
  text-align: center;
}

.basement_box h3{
  font-size: 21px;
}


.projects{
  height: 3400px;
  width: 100%;
  background-color:white;
  transform:skewY(-5deg);
  margin-top: -100px;
}

.main_projects_box{
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  height: 3000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  transform: skewY(5deg);
}

.main_projects_box .title_projects{
  width: 100%;
  height: 42px;
  margin-left: auto;
  margin-right: auto;
}

.main_projects_box .title_projects h2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 32px;
  letter-spacing: 2px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}

.second_grid{
  overflow: hidden;
  width: 100%;
  align-items: center;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}

.basement_list{
  align-items: center;
  text-align: center;
}

.basement_list li{
  display: inline-block;
  align-items: center;
  align-items: center;
  padding-right: 20px;

}

.basement_list li img{
  height: 30px;
  width: 30px;
  align-items: center;
}

.basement_centered{
  width: 500px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align:middle;
  padding-top: 50px;
  align-items: center;
}

.mainbox_projects{
  width: 100%;
  min-height: 700px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 50px;
}


.mainbox_projects .right_side{
  display: inline-block;
  height: 100%;
}

.mainbox_projects .left_side .project_title{
  width: 100%;
  height: 50px;
  text-align: center;
}

.mainbox_projects .left_side .used_tools{
  width: 100%;
  height: 80px;
}

.mainbox_projects .left_side .description_projects{
  width: 100%;
  min-height: 300px;
  padding-right: 20px;
}

.mainbox_projects .left_side .notes{
  width: 100%;
  height: 100px;
  padding-right: 20px;
}

.mainbox_projects .left_side .live_code{
  width: 100%;
  height: 70px;
  border-bottom: 0px;
  margin-top: 10px;
}

.projects_aria{
  width: 1400px;
  height: 2600px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  display: flex;
  flex-direction: column;
  margin-top: -100px;
  margin-bottom: 80px;
}

.mainbox_projects .project_title h2{
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  
}

.mainbox_projects .project_title{
  text-align: center;
  vertical-align: middle;
  padding-top: 10px;
}

.mainbox_projects .used_tools{
  padding-top: 20px;
  padding-left: 30px;
}

.mainbox_projects .used_tools button{
  padding: 8px;
  font-size: 18px;
  margin-left: 0px;
  margin-right: 10px;
  font-family: 'Courier New', Courier, monospace, arial;
  color: green;
  background-color: white;
  border-radius: 10px;
  border: 1px solid green;
}

.mainbox_projects .right_side img{
width: 100%;
margin-left: auto;
margin-right: auto;
height: 300px;
margin-top: 100px;
}


.main_projects_box .right_side img:hover{
  cursor: pointer;
}


.mainbox_projects .description_projects{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace, arial;
}

.mainbox_projects .notes{
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace, arial;
  font-style: italic;
  padding-top: 20px;
  
}

.mainbox_projects .live_code ul{
  display: block;
  text-align: center;
  padding-top: 20px;
}

.mainbox_projects .live_code ul li{
  display: inline-block;
}

.mainbox_projects .live_code ul li button{
  display: inline-block;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace, arial;
  padding: 5px;
  background-color: white;
  color: green;
  border: 1px solid green;
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 200%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}

.mainbox_projects .live_code ul li button:hover{
  cursor: pointer;
  background-position: left bottom;
  color: white;
}


.more_projects{
  height: 50px;
  width: 800px;
  margin-left: -100px;
}

.more_projects button{
  padding: 10px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace, arial;
  background-color: white;
  color: green;
  border: 1px solid green;
  background: linear-gradient(to right, green 50%, white 50%);
  background-size: 200% 200%;
  background-position: right bottom;
  transition: all 0.5s ease-out;

}
.more_projects p{
  margin-top: 15px;
}

.more_projects button:hover{
  cursor: pointer;
  background-position: left bottom;
  color: white;
}

.more_projects .more_proj_text{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace, arial;
  padding-left: 6px;
}


  .about .about_box .profile_picture{
    margin-left: 100px;
  }
 
  .about .main_about h1{
    font-size: 36px;
  }
  .about .summary_ab_me p{
    width: 950px;
    padding-top: 10px;
    margin-left: 0px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }

  .about .resume_about{
    margin-top: 50px;
    margin-left: 0px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }

  .main_area_box .description{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 36px;
  }

  .my_skills .skills_title h1{
    font-size: 36px;
  }

  .my_skills .skills_buttons .design_skill_1{
    font-size: 24px;
  }
  .my_skills .skills_buttons .design_skill_2{
    font-size: 24px;
  }
  .my_skills .skills_buttons .design_skill_3{
    font-size: 24px;
  }

  .main_skills_box{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 80%;
    display: grid;
    grid: 1fr;
  
  }

  .title_projects h2{
    font-size: 36px;
  }

  .main_projects_box {
    width: 90%;
  }

  .main_projects_box .projects_aria{
    width: 80%;
  }
  

  .main_projects_box .projects_aria .left_side{
    max-width: 100%;
    display: inline-block;
    height: 100%;
  }



  .main_projects_box .projects_aria .left_side .project_title h2{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
  }

  .main_projects_box .projects_aria .left_side .used_tools button{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
  }

  .main_projects_box .projects_aria .left_side .description_projects p{
    font-size: 26px;
    font-family: 'Times New Roman', Times, serif;
  }

  .main_projects_box .projects_aria .left_side .notes p{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }

  .main_projects_box .projects_aria .left_side .live_code button{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }

  .main_projects_box .right_side{
    margin-left: 50px;
  }

 
  .main_projects_box .more_projects .more_proj_text{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 0px;
  }
  .main_projects_box .more_projects button{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: -200px;
  }
 
  .contact .text_chat h2{
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
  }

  .contact .contact_title{
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .small_logo img{
    width: 60px;
    height: 60px;
  }

  .small_logo .description_skill{
    padding-top: 20px;
  }

.icons_credits{
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  text-decoration: none;
}


.icons_credits a:visited{
  text-decoration: none;
  color: white;
}

.basement_box h4{
  color: white;
  margin-top: 10px;
}

.basement_box h4 a{
  color: white;
}


@media (max-width: 425px){

  .header .main_elements{
  position: absolute;
  display: flex;
  left: 50px;
  top: 30px;
  position: sticky;
  float: left;
  }

  .header .main_elements li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    
  }
  
  .header .main_elements img{
  width: 16px;
  height: 16px;
  cursor: pointer;
  vertical-align: middle;
  }
  



  .main_area_box{
    margin-top: 100px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main_area_box .myname{
    color: green;
    font-weight: bold;
  }
  
  .main_area_box .description{
    font-family: sans-serif, Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 600;
    padding-left: 30px;
    overflow: hidden;
    width: 80%;
  }

  .main_area_box .description p{
    width: 350px;
  }
  
  .main_area_box .buttons{
    display: block;
    height: 200px;
    width: 100%;
    align-items: center;
    
  }
  
  .buttons .project_buttons{
    width: 100%;
    display: flex;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    margin-left: 20px;
  }
  
  .buttons .project_buttons li{
    display: inline-block;
    padding-right: 0px;
    font-size: 16px;
    text-align: center;
    align-items: center;
  }
  
  .buttons .project_buttons li button{
    font-size: 14px;
    padding: 2px;
    border-radius: 2px;
    background-color: white;
    color: green;
    border: 1px solid green;
    font-weight: bold;
  }
  
  .buttons .project_buttons li button{
    cursor: pointer;
  }

}
 